
.dropbtn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    z-index: 10;
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 20;
}


.dropdowncontent {
    display: block;
    background-color: #f1f1f1;
    z-index: 1;
    border-radius: 10px;
    position: absolute;
    top: 0;
    padding: 15px;
    transition: top .5s,opacity.2s;
    opacity: 0;
}

.dropdowncontent.isOpen {
    position: absolute;
    top: 60px;
    opacity: 1;
    transition: opacity .2s , top .2s;
}

/* .dropdowncontent[data-open="true"] p  { */
/*     visibility: visible; */
/* } */

/* .dropdowncontent[data-open="false"] p  { */
/*     visibility: hidden; */
/* } */

.rotate {
    transform: rotate(180deg);
    transition: transform .4s;
}

.noRotate
{
    transform: rotate(0deg);
    transition: transform .4s;
}
