.Container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.DropdownContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    gap: 50px;
}

@media screen and (max-width: 500px) {
    .Container,.DropdownContainer {
        width: 98%;
    }

    .Container > div {
        width: 98%;
        height: 223px;
    }
}
