.global__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.Container {
    width: 100%;
    margin: 0 auto;
    background: #F6F6F6;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 56px 50px 56px 50px;
    border-radius: 20px;
}



