.hostContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
}

.picture {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}