
.tagContainer {
    display: flex;
     gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.info {
    width: 75%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownContainer {
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
}

.dropdownContainer > div {
    width: 100%;
}

@media screen and (max-width: 798px) {


}

@media screen and (max-width: 492px) {
    .info {
        width: 95%;
        flex-direction: column;
        align-items: flex-start;

    }
    .info article:nth-child(2) {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
    }
    svg {
        width: 25px;
    }

    .dropdownContainer {
        width: 95%;
        flex-direction: column;
        gap: 50px;
    }
    .dropdownContainer > div {
      margin: 10px 0;
    }
}